.animated-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #0a002c;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  padding: 25px;
}

.animated-block.show {
  height: 166px;
}
  
.row{
  display: flex;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.row-icon {
  height: 21;
  width: 21;
  color: #c72e2e;
  margin-right: 10px;
}

.row-text {
  color: white;
  font-size: 15px;
}