@import url("https://fonts.googleapis.com/css?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    margin: 0;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 575;
}

p {
    color: white;
    font-size: 15px;
    font-weight: 350;
}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.y-axis {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.blue-color {
    color: #0a002c
}