.bg {
    background-image: url("/images/home_bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #c72e2e;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}
